<h2>Users</h2>
<table id="users-table"
       data-toggle="tablname"
       data-search="true"
       data-sortable="true">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="name" data-sortable="true">Name</th>
        </tr>
    </thead>
</table>
<br>
<h2>Groups</h2>
<table id="groups-table"
       data-toggle="tablname"
       data-search="true"
       data-sortable="true">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="name" data-sortable="true">Name</th>
        </tr>
    </thead>
</table>

