{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
Libreant | {%trans%}Admin{%endtrans%}
{% endblock %}

{% block styles %}
{{ super() }}
<!-- SB_Admin CSS -->
<link href="{{ url_for('.static', filename='css/sb-admin-2.css') }}" rel="stylesheet" type="text/css">
<!-- MetisMenu CSS -->
<link href="{{ url_for('.static', filename='css/metisMenu.min.css') }}" rel="stylesheet" type="text/css">
<!-- Custom Fonts -->
<link href="{{ url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
<!-- Tables CSS -->
<link href="{{ url_for('.static', filename='css/bootstrap-table.min.css')}}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Libreant Admin</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#test"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#users"><i class="fa fa-users fa-fw"></i> Users</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper" class="container-fluid"></div>

</div>
<!-- /#wrapper -->

{% endblock content %}

{% block scripts %}
    {{super()}}

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{url_for('.static', filename='js/lib/metisMenu.min.js')}}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{url_for('.static', filename='js/lib/sb-admin-2.js')}}"></script>

    <!-- Require: js dependency library -->
    <script data-main="{{url_for('.static', filename='js/app/main')}}" src="{{url_for('.static', filename='js/lib/require.js')}}"></script>
    <script>
        var STATIC_FOLDER = "{{url_for('.static', filename='')}}";
        var API_URL = "{{ api_url }}"
    </script>


{% endblock scripts %}
